<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960623146920-jprahaiktrjsg6a4frporh3qg9p15cre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960623146920-jprahaiktrjsg6a4frporh3qg9p15cre</string>
	<key>API_KEY</key>
	<string>AIzaSyCPIrxaSgJ0RpB3sHMqujTaZht2e41KqnM</string>
	<key>GCM_SENDER_ID</key>
	<string>960623146920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webappsAssignment</string>
	<key>PROJECT_ID</key>
	<string>webappsassignment-d4842</string>
	<key>STORAGE_BUCKET</key>
	<string>webappsassignment-d4842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960623146920:ios:274db0ecf5bf484c4f0f9d</string>
</dict>
</plist>